auto-install-peers=true
strict-peer-dependencies=false
prefer-workspace-packages=true
link-workspace-packages=true
shared-workspace-lockfile=true
prefer-offline=true
side-effects-cache=true
fetch-retries=3
network-concurrency=16
workspace-concurrency=4
