node_modules/
package-lock.json

# iOS build artifacts
ios/App/build/
ios/App/Pods/
ios/App/App/public/
ios/DerivedData/
*.xcuserstate
xcuserdata/

# Android build artifacts
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
*.iml
.idea/
